@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-abel: Abel;
  --font-amiri: Amiri;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-inter: Inter;
  --font-work-sans: "Work Sans";
  --font-readex-pro: "Readex Pro";
  --font-nunito-sans: "Nunito Sans";
  --font-ibm-plex-serif: "IBM Plex Serif";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-7xs: 6px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-2xs-9: 10.9px;
  --font-size-lg-6: 18.6px;
  --font-size-3xs: 10px;
  --font-size-smi: 13px;
  --font-size-mini: 15px;

  /* Colors */
  --color-whitesmoke: #f2f2f2;
  --color-gray-700: #838383;
  --color-gray-800: #2c2c2c;
  --color-gray-900: #2b2b2b;
  --text: #2a2a2a;
  --color-gray-200: #1d1d41;
  --text-primary: #051635;
  --color-gray-1000: #121212;
  --color-gray-1100: rgba(255, 255, 255, 0.85);
  --color-gray-1200: rgba(42, 42, 42, 0.7);
  --color-gray-1300: rgba(255, 255, 255, 0.7);
  --color-gray-400: rgba(255, 255, 255, 0.54);
  --color-gray-500: rgba(255, 255, 255, 0.9);
  --color-gray-1400: rgba(255, 255, 255, 0.8);
  --color-gray-1500: rgba(131, 131, 131, 0.5);
  --color-white: #fff;
  --color-blue: #6425fe;
  --color-yellowgreen: #77b900;
  --color-lavender-200: #e8e9ff;
  --color-crimson: #e8464c;
  --color-violet: #f8a5ff;
  --color-lightgreen: #c7ffa5;
  --color-mediumpurple: #b79bff;
  --color-red-300: #ff2f2f;
  --color-red-100: #e41414;
  --color-red-400: #ff0000;
  --color-red-200: rgba(235, 0, 27, 0.15);
  --color-paleturquoise: #b0f6ff;
  --color-paleturquoise-100: #a6f7e2;
  --color-black: #000;
  --color-gainsboro-100: #e7e7e7;
  --color-darkslategray-100: #00555f;
  --color-darkslateblue-100: #4b4b99;
  --color-darkslateblue-200: #27264e;
  --color-mediumslateblue: #6359e9;
  --color-lightslategray-100: #8c89b4;
  --color-snow: #fffbfb;
  --color-royalblue: #007dfc;
  --emotion-success-primary: #1ecb44;
  --emotion-danger-primary: #ff006e;
  --color-firebrick-100: #c31815;

  /* Gaps */
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-mini: 15px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-9xs: 4px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-2xs: 11px;
  --gap-3xl: 22px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-11xl: 30px;
  --gap-2xl: 21px;
  --gap-14xl: 33px;
  --gap-3xl-8: 22.8px;
  --gap-10xs-6: 2.6px;
  --gap-3xs-4: 9.4px;
  --gap-7xl: 26px;
  --gap-11xs: 2px;
  --gap-sm: 14px;
  --gap-27xl-6: 46.6px;
  --gap-4xl: 23px;
  --gap-66xl-1: 85.1px;
  --gap-43xl: 62px;
  --gap-58xl-9: 77.9px;
  --gap-10xs: 3px;
  --gap-15xl-5: 34.5px;
  --gap-18xl: 37px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-23xl: 42px;
  --gap-3xs: 10px;
  --gap-19xl: 38px;
  --gap-3xl-5: 22.5px;
  --gap-5xl-9: 24.9px;
  --gap-smi-4: 12.4px;
  --gap-8xl: 27px;
  --gap-mini-2: 14.2px;
  --gap-mid-4: 17.4px;
  --gap-20xl-5: 39.5px;
  --gap-2xl-5: 21.5px;
  --gap-22xl: 41px;
  --gap-3xs-6: 9.6px;
  --gap-10xs-7: 2.7px;
  --gap-41xl: 60px;
  --gap-88xl: 107px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-22xl: 41px;
  --padding-xl: 20px;
  --padding-8xl: 27px;
  --padding-xs: 12px;
  --padding-8xs: 5px;
  --padding-4xl: 23px;
  --padding-10xs: 3px;
  --padding-4xs: 9px;
  --padding-40xl: 59px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-10xs-5: 2.5px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-38xl: 57px;
  --padding-353xl: 372px;
  --padding-5xl: 24px;
  --padding-138xl: 157px;
  --padding-18xl: 37px;
  --padding-223xl: 242px;
  --padding-mini: 15px;
  --padding-mid-5: 17.5px;
  --padding-2xs-5: 10.5px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-3xl: 22px;
  --padding-11xl-9: 30.9px;
  --padding-7xl: 26px;
  --padding-2xs: 11px;
  --padding-20xl: 39px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-35xl: 54px;
  --padding-16xl: 35px;
  --padding-7xl-5: 26.5px;
  --padding-140xl-1: 159.1px;
  --padding-84xl: 103px;
  --padding-5xs-5: 7.5px;
  --padding-6xl: 25px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-smi: 13px;
  --padding-4xs-5: 8.5px;
  --padding-4xs-3: 8.3px;
  --padding-5xs-9: 7.9px;
  --padding-23xl: 42px;
  --padding-53xl: 72px;
  --padding-329xl: 348px;
  --padding-68xl: 87px;
  --padding-155xl: 174px;
  --padding-44xl: 63px;
  --padding-45xl: 64px;
  --padding-11xs-9: 1.9px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-12xs: 1px;
  --br-11xs: 2px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-smi-4: 12.4px;
  --br-10xs: 3px;
}
